:root{
    --main-color: #050430;
    --second-color:#cfcfcf;
    --second-blue: #151354;
    --second-scolor-write:#717070;
}
*{
    font-family: "Inter", sans-serif;
}
h3{
    font-size: 55px;
}
button{
    border: #151354 2px solid;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    background-color: white;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: var(--second-blue);
}
p{
    color: var(--second-scolor-write);
}

.blue_bg{
    background-color: var(--main-color);
}
.blue-silver{
    background: linear-gradient(90deg, var(--main-color) 0%, var(--second-color) 100%);
}
.title_size{
    font-size: 110px;
}
.border_blu{
    border: 3px solid var(--second-blue);
    border-radius: 20px;
}
.projects{
    font-size: 65px;
}

.languages{
    list-style-type: none;
}

/* about page */
.presentation{
    padding: 100px;
}

.about_size{
    font-size: 65px;
    color: #474747;
}
/* contact */
.contact_links{
    color: var(--second-blue);
}
.title_contact{
    font-size: 75px;
}

@media only screen and (max-width: 576px) {
    h2.givemespace {
        margin-top: 15px;
    }
    .text-descrition{
        text-align: center;
    }
    .border_blu{
        padding: 15px;
    }
}
